#side2 .carousel-item{
	padding:10px 20px;
	height:calc(100vh - 90px);
}#side2 .carousel-indicators{
	bottom:0;
}

.carousel-item{
	color:var(--cText);
	background:var(--bcLi);
}

.help{
	cursor:help;
}

.invert{
	filter:invert(var(--invert));
}

.carousel-inner,#side,
#side2,#speciesInput,li.list-group-item{
	background-color:transparent;
}

#modCopy{
	position:fixed;
	top:-100vh;
	right:-100vh;
	width:0;
	height:0;
}

div.carousel-inner>div.carousel-item:nth-of-type(2){
	overflow-y:auto;
	padding:10px 5px;
}