@import "techScrollBar.css";
@import "media.css";
@import "input.css";
@import "col.css";
@import "w3.css";
@import "animation.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css";
@import "dark.css";
/*https://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome*/

textarea:focus,input:focus{
	outline:none;
}

div>.alert-success.d-flex>.p-2,#npcList>*{
	padding:0!important;
}

.code{
	font-family:var(--font-family-monospace);
	word-break:break-word;
}

[data-case="cap" i],[data-case="capitalize" i]{
	text-transform:capitalize;
}[data-case="upper" i],[data-case="uppercase" i]{
	text-transform:uppercase;
}[data-case="lower" i],[data-case="lowercase" i]{
	text-transform:lowercase;
}

:not(:hover)>.hover{
	display:none;
}
.popover{
	white-space:pre-line!important;
}

.loc{
	position:fixed!important;
	bottom:-5px;
	left:10px;
	width:calc(100% - 20px);
	z-index:3;
}

noscript>div{
	display:block;
}

@media print{
	[data-no*="print" i]{
		display:none;
	}
}@media screen{
	[data-no*="screen" i]{
		display:none;
	}
}
.scrollY{
	overflow-y:scroll;
}
.scrollX{
	overflow-x:scroll;
}