@import "techScrollBar.css";
@import "media.css";
@import "input.css";
@import "col.css";
@import "w3.css";
@import "animation.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css";
/*https://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome*/

textarea:focus,input:focus{
	outline:none;
}

div>.alert-success.d-flex>.p-2,#npcList>*{
	padding:0!important;
}

.code{
	font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	word-break:break-word;
}

[data-case="cap"],[data-case="capitalize"]{
	text-transform:capitalize;
}[data-case="upper"],[data-case="uppercase"]{
	text-transform:uppercase;
}[data-case="lower"],[data-case="lowercase"]{
	text-transform:lowercase;
}

:not(:hover)>.hover{
	display:none;
}
.popover{
	white-space:pre-line!important;
}

.loc{
	position:fixed!important;
	bottom:-5px;
	left:10px;
	width:calc(100% - 20px);
	z-index:3;
}

noscript>div{
	display:block;
}

@media print{
	[data-no*="print"]{
		display:none;
	}
}@media screen{
	[data-no*="screen"]{
		display:none;
	}
}