:root[dark]{
	--invert:0;
	
	--background:black;
	--text:white;
	--liBackground:slategray;
	--mod:white;
}
:root[light]{
	--invert:1;
	
	--background:white;
	--text:black;
	--liBackground:white;
	--mod:black;
}

html{
	background-color:var(--background);
}


#speciesLabel:not(.err){
	background-color:#90909050;
}

li.nav-item>a.show,
li.nav-item:hover>a{
	border-color:#3535356e;
}

.nav-tabs{
	border-bottom:1px solid #3e3e3e7d;
}

#npcTab>li>a:not(.show),
#npcList>div>*,
#ActiveMods{
	color:var(--text);
}

ul:not(.nav)>li:not(.active){
	background-color:var(--liBackground);
}

kbd,
.nav-item>.show,
.nav>*>.show{
	background-color:var(--text);
	color:var(--background);
}

#speciesLabel{
	border:1px solid #37383a;
}

#mods{
	color:var(--mod);
}

.modal-content,.popover,.popover-header,.popover-body{
	background-color:var(--background);
	color:var(--text);
}

.popover>.arrow{
	filter:invert(calc(1 - var(--invert)));/*not working well*/
}