:root{
	--invert:0;
}

html{
	background-color:black;
}


#speciesLabel:not(.err){
	background-color:#90909050;
}

li.nav-item>a.show,
li.nav-item:hover>a{
	border-color:#3535356e;
}

li.nav-item>a.show{
	color:cyan;
}

.nav-tabs{
	border-bottom:1px solid #3e3e3e7d;
}

#npcList>div>*,
#ActiveMods{
	color:white;
}

ul:not(.nav)>li:not(.active){
	background-color:lightgrey;
}

#npcTab>li>a:not(.active){
	color:white;
}

kbd{
	background-color:white;
	color:black;
}

#speciesLabel{
	border:1px solid #37383a;
}