.invert{
	filter:invert(0);
}

body{
	background-color:black;
}

.carousel-item,
.carousel-inner,
#side,
#side2,
#speciesInput,
li.list-group-item{
	background-color:transparent;
}

li.nav-item,
li.nav-item>a{
	background-color:#90909020!important;
}

.form-control{
	background-color:#90909050!important;
}

li.nav-item>a.show,
li.nav-item:hover>a{
	border-color:#3535356e!important;
}

li.nav-item>a.show{
	color:cyan!important;
}

.nav-tabs{
	border-bottom:1px solid #3e3e3e7d;
}

p,h1,h2,h3,h4,h5,h6,small,li,#speciesInput,#speciesInput::placeholder{
	color:white;
}

kbd{
	background-color:white;
	color:black;
}

.form-control{
	border:1px solid #37383a;
}