/*https://www.w3schools.com/howto/howto_css_switch.asp*/
.switch{
	--height:36px;
	/*Use `--ratio` or `--width`*/
	--width:calc(var(--height) * var(--ratio));
	--ratio:1.76470588235;
	--innerRatio:0.72222222222;
	--select:#2196F3;
	--bg:#ccc;
	--fg:white;
	--time:.4s;
	position:relative;
	display:inline-block;
	margin:0;
	padding:0;
}.switch:not(.rotate){
	--long:var(--width);
	--short:var(--height);
	width:var(--long);
	height:var(--short);
}.switch.rotate{
	--long:var(--height);
	--short:var(--width);
	height:var(--long);
	width:var(--short);
}

.switch.rotate.fixed-height,
.switch.rotate[data-fixed*="height" i]{
	--ratio:0.56666666666;
}

.switch span{
	--ratio:var(--innerRatio);
	--inner:calc(var(--short) * var(--ratio));
	--bottom:calc(calc(var(--short) - var(--inner)) / 2);
	position:absolute;
	cursor:pointer;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:var(--bg);
	-webkit-transition:var(--time);
	transition:var(--time);
}
.switch:not(.reverse) span{
	--start:var(--bottom);
	--end:calc(var(--long) - var(--start) * 2 - var(--inner));
}.switch.reverse span{
	--start:calc(var(--long) - var(--bottom) - var(--inner));
	--end:calc(-1 * var(--start) + var(--bottom));
}

.switch span::before{
	position:absolute;
	content:"";
	background-color:var(--fg);
	-webkit-transition:var(--time);
	transition:var(--time);
}
.switch:not(.rotate) span::before{
	height:var(--inner);
	width:var(--inner);
	left:var(--start);
	bottom:var(--bottom);
}.switch.rotate span::before{
	height:var(--inner);
	width:var(--inner);
	bottom:var(--start);
	left:var(--bottom);
}

.switch input:checked + span{
	background-color:var(--select);
}.switch input:focus + span{
	box-shadow:0 0 1px var(--select);
}
.switch:not(.rotate) input:checked + span::before{
	-webkit-transform:translateX(var(--end));
	transform:translateX(var(--end));
}.switch.rotate input:checked + span::before{
	-webkit-transform:translateY(calc(-1 * var(--end)));
	transform:translateY(calc(-1 * var(--end)));
}

.switch.round span{
	border-radius:34px;
}.switch.round span::before{
	border-radius:50%;
}

.center{
	margin:0!important;
	position:absolute!important;
	top:50%!important;
	left:50%!important;
	transform:translate(-50%,-50%)!important;
}

.center-h{
	margin-right:auto!important;
	margin-left:auto!important;
}